#root{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(236, 236, 236);
}
.App {
  text-align: center;
}

.App-logo {
  height: 45px;
  width: 45px;
  pointer-events: none;
  margin-left: 10px;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.customNavbar{
  position: fixed;
  display: flex;
  width: 100%;
  top:0;
  z-index: 2;
  height:56px !important;
  justify-content: space-between;
  align-items: center;
  background-color: #c0c0d0;
}


.searchForm{
  position: relative;
}
.loginForm{
  position: absolute;
  top:30%;
  left:35%;
  width: 400px;
  height: 400px;
}
.loginButton{
  position: absolute;
  left:30%;
}

.myModal{
  width: 100%;
  height:100%;
  z-index: 10;
  border-radius: 10px;
}
.modal-footerr{
  position: absolute;
  bottom: 0;
  height: 15%;
  width: 100%;
  border-top: 1px solid black;
}
.modal-myfooter{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(243, 235, 235);
  height: 100px;
  padding: 5px 0;
}
.modal-headerr{
  height: 5vh;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
}
.modal-bodyy{
  min-height: 400px;
  max-height: 600px;
  width: 100%;
  border-top: 1px solid black;
}

.profile-image{
  height: 45px;
  width: 45px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 7px;
}
.ml-2{
  margin-left: 10px;
}
.centerContent{
  position: absolute;
  left: 36%;
  font-size: 22px;
}
.longBtn{
  width:60%;
}
.centerButton{
  position: absolute;
  left:20%;
  bottom: 5%;
}
.postContent{
  margin:10px 10px;
  display: flex;
  font-size: 25px;
  width: 95%;
  min-height: 50px;
  max-height: 250px;
  margin-bottom: 15px;
  word-break: break-word;
  border: 0;
  overflow-y: auto;
  background-color: white;
  border-radius: 20px;
  border: none;
}
.addFileBtn{
  position: absolute;
  bottom: 10%;
  left: 20%;

}
.profile-name{
  margin-left: 4px;
}
.modal-body-autorData{
  display: flex;
  align-items: center;

}
.modal-body{
  min-height: 400px;
  max-height: 600px;
  overflow-y: auto;
}
.imgStyle{
  position: absolute;
  left:7%;
}
.image-container{
  width: 86%;
  height: auto;
}
.container{
  vertical-align: top;
  display: flex;
}
.postForm{
  margin-top: 5px;
  font-size: 20px;
  border-radius: 25px;
  width: 80%;
  height: 60px;
  padding: 5px;
  background-color:aliceblue;
  cursor: pointer;
}
.notVisible{
  display: none;
}
.postForm-text{
  text-align: center;
  line-height: 50px;
  font-size:26px;
}
.postForm:hover{
  background-color: rgb(53, 90, 78);
}
.postForm-container{
  gap:5px;
  display: flex;
  margin: 0 auto;
  width: 40%;
  height:150px;
  margin-bottom: 15px;
  margin-top: 15px;
  background-color: #ccccff;
  border-radius: 10px;
}
.postForm-image{
  margin: 5px;
  cursor: pointer;
}
.onlyImageForm{
  position: absolute;
  border-top: 1px solid black;
  bottom: 0;
  width: 100%;
  height: 70px;
}
.allPosts{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.postContainer-space{
  background-color: white;
  height: 7%;
  width: 100%;
}
.postContainer-post-header{
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
}
.postContainer-post-autorName{
  margin-left: 5px;
  font-size: 24px;
}
.postContainer-post-text{
  flex-grow: 1;
  margin: 0px 14px;
  height: 60%;
  padding: 0px 8px;
  background-color: white;
  overflow-wrap: break-word;
  inline-size: calc(100% - 28px);
}

.postContainer{
  margin:0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: lightblue;
  border-radius: 10px;
  padding: 7px 0px;
}
.postsList{
  position: relative;
  left: 30%;
  top:60px;
}
.postContainer-post-footer{
  height: 40px;
  width: 100%;
  border-bottom-left-radius: 10px;
  display: flex;
  flex-wrap: wrap;
}
.likeBtn{
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
  width: 30%;
  border-radius: 10px;
  border: none;
}
.commentBtn{
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
  width: 30%;
  border-radius: 10px;
  border: none;
  resize: both;
}
.showMoreTextBtn{
  color: red;
  cursor: pointer;
}
.postContainer-post-image{
  margin: 10px 0px;
  width: 100%;
  height:auto;
  aspect-ratio: 1/1;
}
.likeImage{
  height: 40px;
  width: 50px;
}
.messageImage{
  margin-left: 20px;
  margin-top: 10px;
  height: 25px;
  width: 30px;
}
.commentsArea{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.comment-container{
  display: flex;
  margin-top: 20px;
  width: 100%;
}
.comment{
  margin: 5px;
  background-color: #f0f8ff;
  border-radius: 20px;
  padding: 8px;
}
.comment-name{
  font-weight: bold;
}
.comment-text{
  font-size: 16px;
  /* width: 100%; */
}
.commentProfileImage{
  margin: 8px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.submitCommentBtn{
  border-radius: 20px;
  margin-left: 20px;
}
.registerImage-container{
  height: 300px;
  width: 300px;
}
.userProfile{
  position: absolute;
  left: 25%;
  bottom: 30px;
}
.logoutBtn{
  border-radius: 10px;
  border: 0px;
  margin-right: 10px;
}
.profileImage{
  cursor: pointer;
  height: 100%;
  width: 100%;
}
.profile-container{
  padding-top: 10px;
  margin:0 auto;
  width: 50vh;
  height: 545px;
}
.profileBtn{
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
}
.profileBtn:hover{
  background-color:antiquewhite;
}
.profileInfo-container{
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  width: 90vh;
  border-radius: 10px;
  padding: 15px;
  border: 1px black solid;
}
.imageContainer{
  position: relative;
  height: 90%;
  width: 100%;
}
.imageChangeOptions{
  position: absolute;
  right: 15px;
  bottom: 4%;
  z-index: 2;
  cursor: pointer;
  width: 160px;
  height: 36px;
  font-size: 16px;

}
.fileUploader-container:hover{
  background-color: antiquewhite;
}
.fileUploader{
  width: 460px;
  display: flex;
  justify-content: center;
  background-color: white;
  margin: 10px 20px;
  padding-top: 10px;
  padding-left: 5px;
}
.fileUploader-container {
  background-color: white;
  cursor: pointer;
  margin: 5px 10px;
  border-radius: 10px;
  display: flex;
  padding-left: 3px;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  right: 5px;
  bottom: 7px;
}
.doYouWantToDiv{
  position:fixed;
  display: flex;
  padding-right: 15px;
  gap: 15px;
  top:10%;
  left: 10%;
  width: 80%;
  height: 70px;
  background-color: grey;
  justify-content: right;
  align-items: center;
  z-index: 2;
}
.allPosts{
  width: 40%;
  margin: 0 auto;
}
.listOfPosts{
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  column-count: 2;
  gap: 15px;
}
.friendBlock{
  display: flex;
  align-items: center;
}
.friendImage{
  width: 10vh;
  cursor: pointer;
}
.friendSmallInfo{
  margin-left: 10px;
  font-size: 20px;
  width: 80%;
}
.friendSmallInfo:hover{
  text-decoration: underline;
  cursor: pointer;
}
.moreOptionsImg{
  align-self:flex-end;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.moreOptionsImg:hover{
  border-radius: 50%;
  background-color: antiquewhite;
}
.moreOptionsAboutFriend{
  position: absolute;
  background-color:bisque;
  padding: 5px;
}
.deleteOption:hover{
  cursor: pointer;
  background-color: red ;
}
.postImage{
  margin: 0 10px;
  width: 530px;
}

.closeModal{
  position: absolute;
  top:8px;
  left: 92%;
  bottom: 10px;
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.openedModal{
  display: block;
  pointer-events:"auto";
  position: absolute;
  margin: 0 auto;
  top: 35vh;
  height: 500px;
  width: 400px;
  left: 45vh;
}
.closedModal{
  display: none;
}
.pointer-events-enabled{
  pointer-events: auto;
  background-color: rgb(236, 236, 236);
}
.pointer-events-disabled{
  pointer-events: none;
  background-color: rgb(236, 236, 236);
}



#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 11; /* Specify a stack order in case you're using a different order for other elements */
}
#overlayDisplayed {
  position: fixed; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(105, 103, 103, 0.5); /* Black background with opacity */
  z-index: 3; /* Specify a stack order in case you're using a different order for other elements */
}
.events-friends-etc{
  position: fixed;
  left: 0;
  padding-top: 20px;
  top: 56px;
  height: 100vh;
  background-color: rgb(189, 166, 166);
  width: 40vh;
}
.leftBar{
  position: fixed;
  left: 0;
  top: 56px;
  height: 100vh;
  background-color:white;
  width: 40vh;
}
.event{
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 6px;

}
.event:hover{
  background-color: rgb(186, 182, 182);
}
.event-image{
  height: 80%;
  width: 50px;
  margin-right: 10px;
  margin-left: 10px;
}
.custom-eventsBtn{
  font-size: 20px;
  text-align: left;
  border: none;
  background-color: inherit;
}
.profile-buttonsContainer{
  background-color: #c0c0d0;
  border-radius: 10px;
  margin: 6px;
  display: flex;


}
.friends-options{
  position: fixed;
  left: 0;
  width: 30%;
  height: 100vh;
  background-color: #61dafb;
}
.listOfFriendCards{
  display: flex;
  column-width: 5;
  column-gap: 15px;
  position: relative;
  left: 40vh;
  margin-left: 5px;
  row-gap: 40px;
}

.friendCard{
  width: 26vh;
  height: 43vh;
  background-color: #bbb;
  margin-top: 30px;
  cursor: pointer;
}
.friendCard-image{
  width: 100%;
  height: 50%;
}
.friendCard-text {
  display: flex;
  flex-wrap: wrap;
  padding-left: 10px;
  padding-right: 10px;
}
.friendRequest{
  margin-left: 20px;
  margin-top: 25px;
  width: 90%;
  border-radius: 20px;
  height: 150px;
  background-color: #c6d9de;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink:1
}
.listOfFriendRequests{
  display: flex;
  flex-direction: column;
  margin-left: 400px;;
}
.friendRequest-image{
  height: 80%;
  width: 100px;
}
.friendRequest-name{
  margin-left: 20px;
  font-size: 27px;
}
.friendRequest-accept{
  font-size: 25px;
  margin-right: 25px;
  border: none;
  border-radius: 20px;
  padding:5px 15px;
  background-color: rgb(67, 211, 199);
  box-sizing: content-box;
}
.friendRequest-accept:hover{
  background-color: rgb(99, 90, 215);
}
.friendRequest-refuse{
  font-size: 25px;
  margin-right: 25px;
  border: none;
  border-radius: 20px;
  padding: 5px;
}
.friendRequest-refuse:hover{
  background-color: rgb(228, 85, 70);
}
.wrapper{
  margin-top: 70px;
  width: 100%;
  height: 100%;
}
.goBackButton-container{
  display: flex;
  justify-content: left;
  align-items: center;
}
.goBackButton{
  height: 60px;
  width: 60px;
  margin: 15px;
  cursor: pointer;
}
.noFriendRequests{
  margin:0 auto;
  font-size: 24px;
  height: 100vh;
  width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.yourRequests{
  display: flex;
  flex-direction: column;
  margin-left:15px;
  align-items: left;
  justify-content: space-between;
}
.showYourRequests{
  margin-top: 10px;
  cursor: pointer;
  color: rgb(165, 177, 180);
}
.exampleModal{
  position: fixed;
  left: 64vh;
  top:12vh;
  z-index: 10;
  min-width: 570px;
  min-height: 500px;
  max-height: 800px;
  max-width: 570px;
  background-color: rgb(243, 235, 235);
}
.requestsModalBody{
  width: 100%;
  height: 100%;
}
.requestsModalHeader{
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 20px;
}
.sentRequests{
  margin-left: 20px;
  margin-top: 10px;
}
.listOfMyFriendRequests{
  /* display: flex;
  row-gap: 30px;
  flex-direction: column; */
  max-height: 380px;
  overflow-y: auto;
}
.sentFriendRequest{
  margin:25px 20px;
  border-radius: 20px;
  background-color: #c6d9de;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sentFriendRequest-image{
  height: 56px;
  width: 56px;
  border-radius: 50%;
}
.sentFriendRequest-name{
  margin-left: 20px;
  font-size: 20px;
}

.requestAlreadySent{
  background-color: #8fa8d9;
  border: none;
  border-radius: 10px;
  padding: 10px;
}
.publish-button{
  margin: 0px 20px;
}
textarea{
  border: none;;
  outline: none;
}
.rightBar{
  position: fixed;
  right: 0;
  top: 56px;
  display: flex;
  flex-direction: column;
  width: 40vh;
  background-color:rgb(189, 166, 166);
  min-height: 100vh;
}
.listOfContacts{
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
}
.contact-friend{
  width: 100%;
  height:64px;
  display: flex;
  align-items: center;
  padding: 0px 6px;
  cursor: pointer;
}
.contact-friend:hover{
  background-color: aliceblue;
}
.contact-friend-image{
  height: 46px;
  border-radius: 50%;
}
.contact-friend-name{
  margin-left: 10px;
  width:80%
}
.contacts{
  height: 30px;
  font-size: 20px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
}
.contacts-search{
  height: 25px;
  width: 25px;
  margin: 3px 10px;
  cursor: pointer;
  border-radius: 40%;
}
.contacts-search:hover{
  background-color: #bbb;
}

.scroller::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
.scroller::-webkit-scrollbar-track {
  display: none;
}
.scroller::-webkit-scrollbar-thumb {
  background: #ddd;
  visibility:hidden;
}
.scroller:hover::-webkit-scrollbar-thumb {
  visibility:visible;
}
.scroller {
  overflow: auto;
  font: 16px/1.5 Arial;
  margin: 15px 0px;
  color: #444;
  max-height: 90vh;
}
.chat{
  height:45vh;
  width: 35vh;
  background-color: wheat;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.listOfOpenedChats{
  position: fixed;
  bottom: 0vh;
  right: 10vh;
  display: flex;
  flex-direction: row-reverse;
  column-gap: 15px;
  z-index: 1;
}
.chat-header{
  display: flex;
  align-items: center;
  height: 12%;
  border-bottom: 1px grey solid;
  justify-content: space-between;
}
.chat-header-image{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: 5px;
}
.chat-body{
  display: flex;
  overflow-y: auto;
  height: 76%;
  width: 100%;
}
.chat-close{
  cursor: pointer;
  margin-right: 10px;
}
.chat-footer{
  position: relative;
  display: flex;
  min-height: 14%;
  width: 100%;
  justify-content: space-between;
}
.chat-footer-text{
  display: flex;
  position: relative;
  left: 10px;
  border-radius: 20px;
  background-color: white;
  min-width: 200px;
  max-width: 250px;
  margin: 5px;
  padding: 7px;
  min-height: 35px;
  max-height: 170px;
  /* user-select: text; */
  /* white-space: pre-wrap; */
  /* word-break: break-word; */
  overflow-y: auto;
  margin-bottom: 15px;
}
.chat-footer-sendMessage{
  /* position: relative;
  top: 10px;
  right: 5px; */
  border: 0;
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.sendMessageBtn{
  position: relative;
  right: 15px;
  top: 5px;
  border: none;
  height: 40px;
  width: 40px;
  cursor: pointer;
  padding: 7px;
  background-color: wheat;
}
.list-of-messages{
  display: flex;
  row-gap: 7px;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 10px 0px;
}
.message{
  display: flex;
  justify-content: left;
}
.my-message{
  /* margin-left: 35%; */
  /* display: flex;
  justify-content: right; */
  min-width: 5%;
  max-width: 65%;
  border-radius: 20px;
  padding: 5px;
  overflow-wrap: break-word;
}
.friend-message{
  margin-right: 20%;
  min-width: 5%;
  max-width: 65%;
  border-radius: 20px;
  overflow-wrap: break-word;
  padding: 5px;
}

.sendLikeBtn{
  /* position: absolute;
  bottom: 0px;
  right: 5px; */
  border: none;
  height: 50px;
  width: 57px;
  cursor: pointer;
  background-color: wheat;
}
.message-image{
  position: relative;
  max-height: 300px;
  max-width: 150px;
  cursor: pointer;
}
.sending-images-holder{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 12.5px;
  row-gap: 10px;
  column-count: 3;
  background-color: grey;
}
.long-message-text{
  position: absolute;
  bottom: 10px;
  display: flex;
  flex-direction: column-reverse;
  border-radius: 20px;
  background-color: white;
  width: 250px;
  margin: 5px;
  padding: 7px;
  min-height: 35px;
  max-height: 170px;
  user-select: text;
  white-space: pre-wrap;
  word-break: break-word;
  overflow-y: auto;
}
.bigImageContainer{
  position: fixed;
  left: 60vh;
  top:20vh;
  z-index: 10;
  width: 60vh;
  padding: 2vh;
  background-color: #999faa;
}
.bigImage{
  width: 100%;
  max-height: 70vh;
  pointer-events: auto;
  object-fit: contain;
}
.closeImage{
  position: absolute;
  right: -5px;
  top: 0px;
  height: 10px;
  width: 10px;
  cursor: pointer;
}
.closeBigImage{
  position: absolute;
  right: 20px;
  top:8px;
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.toSendImage{
  height: 40px;
  width: 40px;
}
.deleteImage{
  position: relative;
  bottom: 16px;
  right: 5px;
}
.uploader{
  width: 45px;
  height: 48px;
}
.image-message-to-send{
  position: absolute;
  bottom: 5px;
  left: 70px;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  border-radius: 20px;
  background-color: white;
  width: 160px;
  margin: 5px;
  padding: 7px;
  min-height: 35px;
  max-height: 170px;
  user-select: text;
  white-space: pre-wrap;
  word-break: break-word;
}
.message-to-send{
  min-width: 190px;
  max-width: 240px;
}
.deleteMessage{
  height: 30px;
  width: 30px;
  position: relative;
  top: 20%;
  right: 40px;
  cursor: pointer;
}
.deleteImageMessage{
  height: 30px;
  width: 30px;
  position: relative;
  top: 50%;
  right: 40px;
  cursor: pointer;
}
.messs{
  display: flex;
  justify-content: right;
  object-fit: contain;
  align-items: center;
}
.longTextSendBtn{
  position: relative;
  left: 83%;
  bottom: 5px;
}
.deleteMessageModal{
  position: fixed;
  bottom: 45%;
  right: 40%;
  height: 100px;
  width: 360px;
  background-color: wheat;
  z-index: 10;
}
.messageBtn{
  width: 40%;
  margin: 0 16px;
}
.contactModal{
  position: fixed;
  bottom: 35%;
  right: 1%;
  height: 45%;
  width: 380px;
  background-color: whitesmoke;
  z-index: 10;
}
.contact-header{
  width: 100%;
  height: 15%;
}
.tooMuchWordsAlert{
  color: red;
  position: absolute;
  top: -150px;
  z-index: 5;
}
